name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install nightly
      run: rustup toolchain install nightly
    - name: Miri (nightly)
      run: rustup component add  --toolchain nightly-x86_64-unknown-linux-gnu miri && cd savefile-test && cargo +nightly miri test
    - name: Build (nightly)
      run: cargo +nightly build --workspace 
    - name: Run tests (nightly)
      run: cargo +nightly test --workspace 
    - name: Build min-deps (nightly)
      run: cargo +nightly build -p savefile-min-build 
    - name: Build (stable)
      run: cargo +stable build --workspace 
    - name: Run tests (stable)
      run: cargo +stable test --workspace 
    - name: Build min-deps (stable)
      run: cargo +stable build -p savefile-min-build
    - name: compile_tests (stable)
      run: cd compile_tests && cargo +stable test

